<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Films et Séries</title>
  </head>
  <body>
    <h1>Voici les dernières tendances :</h1>
    <ul>
      <li><a href="http://localhost:3000/movies-details/1">Lupin</a></li>
      <li>
        <a href="http://localhost:3000/movies-details/2"
          >Tout le Bleu du Ciel</a
        >
      </li>
      <li><a href="http://localhost:3000/movies-details/3">Intouchables</a></li>
    </ul>
    <p>Bonne remarque... Il s'agit tous de films francais</p>
  </body>
</html>
