<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <div>
      <h1>Détails de <%= movietitle %></h1>
      ID du film/série <%= movieid %>
    </div>
  </body>
</html>
